.main-box {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
}
.right {
    float: right;
}
.info-box{
    margin-top: 20px;
    width: 100%;
    border: 3px DarkGray;
    border-style: solid none solid none;
}
.info-item{
    margin-left: 20px;
    margin-top: 50px;
    height: 100px;
    width: 100%;
}
.info-name{
    width: 50%;
    float: left;
}
.info-value {
    width: 100px;
    float: left;
}
.border {
    border: 3px solid red;
}