<!DOCTYPE html>
<html lang="en">
<head th:include="include :: header">
    <title>登录</title>
</head>
<link rel="stylesheet" href="/css/user/login.css">
<body>
<div class="top-box">登录</div>
<div class="main-box">
    <form id="signupForm" class="layui-form">
        <div class="layui-form-item">
            <label class="layui-form-label">用户名</label>
            <div class="layui-input-block">
                <input type="text" name="username" class="layui-input" required="required"/>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">密码</label>
            <div class="layui-input-block">
                <input type="password" name="password" class="layui-input" required="required"/>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <input type="submit" value="登录" class="layui-btn"/>
                <a href="/user/register">注册</a>
            </div>
        </div>
    </form>
</div>
</body>
<div th:include="include :: js"></div>
<script src="/js/user/login.js"></script>
</html>