<!DOCTYPE html>
<html lang="en">
<head th:include="include :: header"></head>
<body>
<div width="500">
    <div th:include="include :: topDiv"></div>
    <div id="goods">
        <div th:each="item:${goods}" style="float:left">
            <a th:href="@{'/item/'} + ${item.id}">
                <img th:src="@{'/images/' + ${item.id} + '.jpg'}" width="100px" height="100px"/>
                <div th:text="${item.name}"></div>
                <div th:text="${item.price}"></div>
            </a>
        </div>
    </div>
</div>

<div th:include="include :: footer"></div>
</body>
</html>