<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:include="include :: topDiv"></div>
    <div>
        <div><img th:src="@{'/images/' + ${item.id} + '.jpg'}" width="150" height="150"></div>
        <input id="goodsid" type="hidden" th:value="${item.id}"/>
        <button onclick="itemReduce()">-</button>
        <input id="goodsnumber" value="0">
        <button onclick="itemAdd()">+</button>
        <div th:text="${item.price}"></div>
        <div><button onclick="add()">添加购物车</button></div>
    </div>
</body>
<div th:include="include :: footer"></div>
<script>
    function itemAdd()
    {
        var goodsnumber = document.getElementById("goodsnumber");
        goodsnumber.value = parseInt(goodsnumber.value) + 1;
    }
    function itemReduce()
    {
        var num = document.getElementById("goodsnumber");
        if (parseInt(goodsnumber.value) > 0)
        {
            goodsnumber.value = parseInt(goodsnumber.value) - 1;
        }
    }
    function add()
    {
        var goodsnumber = document.getElementById("goodsnumber").value;
        var goodsid = document.getElementById("goodsid").value;
        if(parseInt(goodsnumber) < 1)
        {
            layer.msg("请选择数量")
        }
        else{
            $.ajax({
                cache : true,
                type : "POST",
                url : "/addItem",
                data : {
                    goodsid,
                    goodsnumber
                },
                async : false,
                error : function(request) {
                    layer.alert("Connection error");
                },
                success : function(data) {
                    if (data.code == 0)
                    {
                        layer.msg("操作成功");
                    }
                    else
                    {
                        window.location.href="/login";
                    }
                }
            });
        }

    }
</script>
</html>