<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:include="include :: topDiv"></div>
    <div th:each="item:${list}" style="width:800px;border-style:solid;">
        <div style="display:inline;width:150px">
            <img th:src="@{'/images/' + ${item.goodsid} + '.jpg'}" width="100px" height="100px"/>
        </div>
        <div style="display:inline;width:600px">
            <div th:text="${item.goodsname}"></div>
            <div th:text="@{'数量：' + ${item.goodsnumber}}" ></div>
            <div th:text="@{'金额' + ${item.price}}" ></div>
            <button th:onclick="|del('${item.id}')|">del</button>
        </div>

    </div>
</body>
<div th:include="include :: footer"></div>
<script>
    function del(id)
    {
        $.ajax({
            cache : true,
            type : "POST",
            url : "/delete",
            data : {
                id
            },
            async : false,
            error : function(request) {
                layer.alert("Connection error");
            },
            success : function(data) {
                window.location.reload()
            }
        });
    }
</script>
</html>